<h4>CrediMás Soluciones - Cuadre caja</h4>
<hr>
<div class="container mt-4">
  <table class="table table-bordered table-striped table-fixed">
    <thead>
      <tr>
        <th scope="col">Denominación</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Sub Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let denom of dineroCaja">
        <td style="text-align: right; vertical-align: middle;">{{denom.denominacion}}</td>
        <td>
          <input
            type="number"
            [(ngModel)]="denom.cantidad"
            class="form-control"
            name="cantidad"
            style="text-align: right; max-width: 100px;"
            (input)="calcularTotal()"
            >
          </td>
        <td style="text-align: right; vertical-align: middle;">{{denom.total | number:'1.2-2'}}</td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col">
      <p>Cantidad monedas</p>
      <p><b>{{cantidadMonedas | number: '1.2-2'}}</b></p>
    </div>
    <div class="col">
      <p>Total caja</p>
      <p><b>s/. {{totalCaja | number: '1.2-2'}}</b></p>
    </div>
  </div>
</div>
